.nav-bar {
    display: grid;
    grid-template-columns: 5fr repeat(4, 1fr);
    background-color: #97CAEF;
    padding: 10px 60px;

}
.nav-bar-item {
    padding: 10px;
    font-weight: bolder;
}
.nav-bar-item a {
    color: black;
    text-decoration: none;
}
.nav-bar-item a:hover{
    border-bottom: 3px solid black;
}

.nav-bar-item-active{
    border-bottom: 3px solid black;
}

.nav-bar-logo {
    font-size: 20pt;
    color: #190061;
    margin: 0 0 0 40px
}
