#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 5px;
}

.product-card {
    height: 300px;
    width: 210px;
    border: 1px solid #ccc;
}

.product-image-shop {
    display: table-cell;
    height: 210px;
    width: 210px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
}

.product-card img {
    width: 200px;
    max-height: 200px;

    text-align: center;
    object-fit: scale-down;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 10px;;
}

.info-grid div {
    margin-top: 5px;
}

comment {
    border: 0;
}

#price {
    font-size: 14px;
    justify-self: center;
    align-self: center;
}

.product-name {
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;

}

.product-card a {
    text-decoration: none;
    font-weight: bolder;
}

.product-card button {
    margin-top: -8px;
    padding: 6px 15px;
    border: 0;
    background: #ffffff;
    outline: none;

}

.product-card button:hover {
    fill: #3385ff;
}


#search-field, #sort-select {
    font-size: 92%;
    outline-color: black;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 4px 5px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    width: 200px;
    margin-top: 2px;
}

li {
    list-style: none;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-size: 110%;
    margin-left: 5px;
}


input[type=checkbox] {
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -6px;
    *overflow: hidden;
}


#shop-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 30px 0;
    grid-gap: 10px;
}

#filter {
    columns: 1/2;
}

#product {
    columns: 3/10;
}

#filter ul {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#search {
    justify-self: right;
}

.tab-nav {
    outline: none;
    display: none;
}

.tab-nav-label {
    display: none;
    color: #000;
}

@media (max-width: 768px) {
    #shop-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    #search, #sort {
        justify-self: center;
    }

    .tab-nav-label {
        display: block;
    }

    .tab-nav-label:hover {
        color: #4d4d4d;
    }

    #filter-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        -webkit-transition: all ease-in-out 0.4s;
    }

    #filter input:checked ~ #filter-content {
        max-height: 100%;
    }

    #sort-select {
        width: 280px;
    }
}

