body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF
}

/* GLobal */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #e6e6e6;
    padding-top: 30px;
    min-height: 55px;

}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

header a:hover, header a:visited:hover {
    color: #808080;
    text-decoration: underline;
}

a:visited {
    color: #000000;
}

ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline-block;
    padding: 0 10px 0 10px;
}

header #logo {
    float: right;
    font-size: 16px;
}

header nav {
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0 0 0 10px;
    float: right;
}

button {
    color: #ffffff;
    font-weight: bolder;
    border-radius: 3px;
    padding: 7px 15px;
    border: none;
    background-color: #0066ff;
}

button:hover {
    background-color: #3385ff;
}

footer {
    padding-top: 10px;
    background: #e6e6e6;
    padding-bottom: 30px;
    min-height: 55px;
    text-align: center;
    font-size: 15px;
}

footer li {
    display: inline-block;
    padding: 0 0 0 10px;
}

footer a {
    text-decoration: none;
    color: #000000;
}

footer a:hover, header a:visited:hover {
    color: #808080;
    text-decoration: underline;
}


#error-index-link {
    border: 1px solid black;
    padding: 3px 7px;
    background-color: #0066ff;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#error-index-link:hover {
    background-color: #3385ff;
}

#error-message {
    border: 1px solid #ccc;
    padding: 15px 40px;
    margin: 50px 120px;
    border-radius: 6px;
    background: #ffa698;
    color: #b30000;

}

#error-message h3 {
    font-weight: normal;
}

#success-index-link {
    border: 1px solid black;
    padding: 3px 7px;
    background-color: #0066ff;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#success-index-link:hover {
    background-color: #3385ff;
}

#success-message {
    border: 1px solid #ccc;
    padding: 15px 40px;
    margin: 50px 120px;
    border-radius: 6px;
    background: #b3ffb3;
    color: #003300;

}

#success-message h3 {
    font-weight: normal;
}

textarea {
    resize: none;
    max-width: 94%;
}

#snackbar, #comment-bar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #0066ff;
    color: #FFF;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50px;
    font-size: 17px;

}

#snackbar.show, #comment-bar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}


@media (max-width: 768px) {

    footer li, #contacts {
        display: block;

    }

    #contacts li {
        float: none;
        display: block;
    }

    header nav {
        float: left;
    }

    .container {
        width: 90%;
        margin: auto;
        overflow: hidden;
    }

    #error-message {
        margin: 20px 0;
    }
}    